<head>

  <title>Contact</title>
</head>
<body>


<h1>Hoc loco tenere se Triarius non potuit.</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cur fortior sit, si illud, quod tute concedis, asperum et
  vix ferendum putabit? Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta
  sententia; Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter
  voluptatem; Si enim, ut mihi quidem videtur, non explet bona naturae voluptas, iure praetermissa est; Duo Reges:
  constructio interrete. Praetereo multos, in bis doctum hominem et suavem, Hieronymum, quem iam cur Peripateticum
  appellem nescio. Sed fortuna fortis; Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi
  nominis. </p>

<p>Equidem e Cn. Hoc etsi multimodis reprehendi potest, tamen accipio, quod dant. Suo enim quisque studio maxime
  ducitur. Familiares nostros, credo, Sironem dicis et Philodemum, cum optimos viros, tum homines doctissimos. Tamen
  aberramus a proposito, et, ne longius, prorsus, inquam, Piso, si ista mala sunt, placet. </p>

<p>In quibus doctissimi illi veteres inesse quiddam caeleste et divinum putaverunt. Superiores tres erant, quae esse
  possent, quarum est una sola defensa, eaque vehementer. Octavio fuit, cum illam severitatem in eo filio adhibuit, quem
  in adoptionem D. Est, ut dicis, inquam. Re mihi non aeque satisfacit, et quidem locis pluribus. Estne, quaeso, inquam,
  sitienti in bibendo voluptas? An vero displicuit ea, quae tributa est animi virtutibus tanta praestantia? </p>

<blockquote cite='http://loripsum.net'>
  Immo sit sane nihil melius, inquam-nondum enim id quaero-, num propterea idem voluptas est, quod, ut ita dicam,
  indolentia?
</blockquote>


<p>Aliena dixit in physicis nec ea ipsa, quae tibi probarentur; Quae fere omnia appellantur uno ingenii nomine, easque
  virtutes qui habent, ingeniosi vocantur. Solum praeterea formosum, solum liberum, solum civem, stultost; Iam id ipsum
  absurdum, maximum malum neglegi. Quodsi ipsam honestatem undique pertectam atque absolutam. </p>

<p>Gloriosa ostentatio in constituendo summo bono. Quare ad ea primum, si videtur; Est autem etiam actio quaedam
  corporis, quae motus et status naturae congruentis tenet; Iam illud quale tandem est, bona praeterita non effluere
  sapienti, mala meminisse non oportere? Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis
  praesidii. Et quidem saepe quaerimus verbum Latinum par Graeco et quod idem valeat; Zenonis est, inquam, hoc Stoici.
  Quid censes in Latino fore? Et quidem, inquit, vehementer errat; </p>

<h3>Sed quid attinet de rebus tam apertis plura requirere?</h3>

<p>Nihil opus est exemplis hoc facere longius. Egone non intellego, quid sit don Graece, Latine voluptas? Quid turpius
  quam sapientis vitam ex insipientium sermone pendere? Neque enim disputari sine reprehensione nec cum iracundia aut
  pertinacia recte disputari potest. Ut aliquid scire se gaudeant? Iam id ipsum absurdum, maximum malum neglegi. Sin
  laboramus, quis est, qui alienae modum statuat industriae? Ego vero isti, inquam, permitto. </p>

<p>Hoc sic expositum dissimile est superiori. De maximma autem re eodem modo, divina mente atque natura mundum universum
  et eius maxima partis administrari. An eum discere ea mavis, quae cum plane perdidiceriti nihil sciat? Eiuro, inquit
  adridens, iniquum, hac quidem de re; Mihi, inquam, qui te id ipsum rogavi? Apparet statim, quae sint officia, quae
  actiones. </p>

<blockquote cite='http://loripsum.net'>
  Quod certe universum sua sponte ipsum expeti et propter se necesse est, quoniam ante demonstratum est etiam singulas
  eius partes esse per se expetendas.
</blockquote>


<h2>Iubet igitur nos Pythius Apollo noscere nosmet ipsos.</h2>

<p>Ergo illi intellegunt quid Epicurus dicat, ego non intellego? Isto modo, ne si avia quidem eius nata non esset.
  Respondent extrema primis, media utrisque, omnia omnibus. Sed residamus, inquit, si placet. </p>

<h4>Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster?</h4>

<p>An dubium est, quin virtus ita maximam partem optineat in rebus humanis, ut reliquas obruat? Sit ista in Graecorum
  levitate perversitas, qui maledictis insectantur eos, a quibus de veritate dissentiunt. -delector enim, quamquam te
  non possum, ut ais, corrumpere, delector, inquam, et familia vestra et nomine. </p>

<p>Tu enim ista lenius, hic Stoicorum more nos vexat. Non quaeritur autem quid naturae tuae consentaneum sit, sed quid
  disciplinae. Si autem id non concedatur, non continuo vita beata tollitur. Cur id non ita fit? Sed haec in pueris;
  Minime vero, inquit ille, consentit. Istam voluptatem perpetuam quis potest praestare sapienti? Claudii libidini, qui
  tum erat summo ne imperio, dederetur. Unum est sine dolore esse, alterum cum voluptate. Quo plebiscito decreta a
  senatu est consuli quaestio Cn. </p>

<p>Maximas vero virtutes iacere omnis necesse est voluptate dominante. Age nunc isti doceant, vel tu potius quis enim
  ista melius? Hic nihil fuit, quod quaereremus. Habes, inquam, Cato, formam eorum, de quibus loquor,
  philosophorum. </p>

<p>Ac tamen hic mallet non dolere. Indicant pueri, in quibus ut in speculis natura cernitur. Sit hoc ultimum bonorum,
  quod nunc a me defenditur; Et harum quidem rerum facilis est et expedita distinctio. Non est enim vitium in oratione
  solum, sed etiam in moribus. Sine ea igitur iucunde negat posse se vivere? Sapiens autem semper beatus est et est
  aliquando in dolore; Virtutis, magnitudinis animi, patientiae, fortitudinis fomentis dolor mitigari solet. Ita multo
  sanguine profuso in laetitia et in victoria est mortuus. Virtutibus igitur rectissime mihi videris et ad consuetudinem
  nostrae orationis vitia posuisse contraria. </p>

<ol>
  <li>Atque ab isto capite fluere necesse est omnem rationem bonorum et malorum.</li>
  <li>Quibus natura iure responderit non esse verum aliunde finem beate vivendi, a se principia rei gerendae peti;</li>
  <li>Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris.</li>
  <li>Res enim concurrent contrariae.</li>
  <li>Quod eo liquidius faciet, si perspexerit rerum inter eas verborumne sit controversia.</li>
</ol>


<ol>
  <li>Quia nec honesto quic quam honestius nec turpi turpius.</li>
  <li>Gloriosa ostentatio in constituendo summo bono.</li>
  <li>Portenta haec esse dicit, neque ea ratione ullo modo posse vivi;</li>
  <li>Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi;</li>
  <li>Cum salvum esse flentes sui respondissent, rogavit essentne fusi hostes.</li>
</ol>


</body>
