
<body>

<div class="carousel-container">
  <i class="fas fa-arrow-left" id="prevBtn"></i>
  <i class="fas fa-arrow-right" id="nextBtn"></i>

  <div class="carousel-slide">
    <img class="d-block w-100" id="lastClone" src="https://www.w3schools.com/bootstrap/chicago.jpg" href="google.de">
    <img class="d-block w-100" src="https://www.w3schools.com/bootstrap/chicago.jpg">
    <img class="d-block w-100" src="https://www.w3schools.com/bootstrap/chicago.jpg">
    <img class="d-block w-100" id="firstClone" src="https://www.w3schools.com/bootstrap/chicago.jpg">
  </div>
</div>

<%= javascript_pack_tag 'carousel', 'data-turbolinks-track': 'reload' %>

<h1>Istam voluptatem perpetuam quis potest praestare sapienti?</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae qui non vident, nihil umquam magnum ac cognitione
  dignum amaverunt. Hoc est non modo cor non habere, sed ne palatum quidem.
  <i>Vide, quantum, inquam, fallare, Torquate.</i> Quam ob rem tandem, inquit, non satisfacit? Quid in isto egregio tuo
  officio et tanta fide-sic enim existimo-ad corpus refers? Duo Reges: constructio interrete. Isto modo ne improbos
  quidem, si essent boni viri. Morbo gravissimo affectus, exul, orbus, egens, torqueatur eculeo: quem hunc appellas,
  Zeno? </p>

<p>Octavio fuit, cum illam severitatem in eo filio adhibuit, quem in adoptionem D. An haec ab eo non dicuntur? Quid enim
  mihi potest esse optatius quam cum Catone, omnium virtutum auctore, de virtutibus disputare? Facit igitur Lucius
  noster prudenter, qui audire de summo bono potissimum velit; Nihil enim iam habes, quod ad corpus referas; Nam si
  propter voluptatem, quae est ista laus, quae possit e macello peti? Sin tantum modo ad indicia veteris memoriae
  cognoscenda, curiosorum. Tum ille timide vel potius verecunde: Facio, inquit. </p>

<ol>
  <li>Nam nec vir bonus ac iustus haberi debet qui, ne malum habeat, abstinet se ab iniuria.</li>
  <li>Sed non alienum est, quo facilius vis verbi intellegatur, rationem huius verbi faciendi Zenonis exponere.</li>
  <li>Atque adhuc ea dixi, causa cur Zenoni non fuisset, quam ob rem a superiorum auctoritate discederet.</li>
  <li>Nec hoc ille non vidit, sed verborum magnificentia est et gloria delectatus.</li>
</ol>


<p>Nihilo beatiorem esse Metellum quam Regulum.
  <mark>Egone non intellego, quid sit don Graece, Latine voluptas?</mark>
  <a href='http://loripsum.net/' target='_blank'>Tum mihi Piso: Quid ergo?</a> Non potes, nisi retexueris illa. Conferam
  avum tuum Drusum cum C. <b>Vide, quantum, inquam, fallare, Torquate.</b> <b>Istic sum, inquit.</b> <i>Quid vero?</i>
  Quantum Aristoxeni ingenium consumptum videmus in musicis?
  <a href='http://loripsum.net/' target='_blank'>Equidem e Cn.</a></p>

<p>Quod ea non occurrentia fingunt, vincunt Aristonem;
  <a href='http://loripsum.net/' target='_blank'>Illi enim inter se dissentiunt.</a> Sed utrum hortandus es nobis, Luci,
  inquit, an etiam tua sponte propensus es? Scientiam pollicentur, quam non erat mirum sapientiae cupido patria esse
  cariorem. Nihil opus est exemplis hoc facere longius. </p>

<p>Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri. Sed quanta sit alias, nunc tantum possitne esse
  tanta.
  <mark>Graece donan, Latine voluptatem vocant.</mark>
  Quare hoc videndum est, possitne nobis hoc ratio philosophorum dare. Et harum quidem rerum facilis est et expedita
  distinctio. Sed in rebus apertissimis nimium longi sumus. Sed ad haec, nisi molestum est, habeo quae velim.
  <a href='http://loripsum.net/' target='_blank'>Paria sunt igitur.</a></p>

<h4>Nec vero intermittunt aut admirationem earum rerum, quae sunt ab antiquis repertae, aut investigationem
  novarum.</h4>

<p>Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Est, ut dicis, inquit; Qui-vere falsone,
  quaerere mittimus-dicitur oculis se privasse; Esse enim quam vellet iniquus iustus poterat inpune. Ergo in utroque
  exercebantur, eaque disciplina effecit tantam illorum utroque in genere dicendi copiam. Non est enim vitium in
  oratione solum, sed etiam in moribus. <a href='http://loripsum.net/' target='_blank'>Ita nemo beato beatior.</a> Item
  de contrariis, a quibus ad genera formasque generum venerunt. </p>

<h3>Iam contemni non poteris.</h3>

<p>Quid enim est a Chrysippo praetermissum in Stoicis? Hoc est dicere: Non reprehenderem asotos, si non essent asoti.
  Inde sermone vario sex illa a Dipylo stadia confecimus. Voluptatem cum summum bonum diceret, primum in eo ipso parum
  vidit, deinde hoc quoque alienum; Hoc est dicere: Non reprehenderem asotos, si non essent asoti.
  <b>Haec dicuntur fortasse ieiunius;</b></p>

<ol>
  <li>Sit, inquam, tam facilis, quam vultis, comparatio voluptatis, quid de dolore dicemus?</li>
  <li>His similes sunt omnes, qui virtuti student levantur vitiis, levantur erroribus, nisi forte censes Ti.</li>
  <li>Ego quoque, inquit, didicerim libentius si quid attuleris, quam te reprehenderim.</li>
  <li>Hic ego: Pomponius quidem, inquam, noster iocari videtur, et fortasse suo iure.</li>
</ol>


<p>Plane idem, inquit, et maxima quidem, qua fieri nulla maior potest. Illa sunt similia: hebes acies est cuipiam
  oculorum, corpore alius senescit; Respondent extrema primis, media utrisque, omnia omnibus. Facit enim ille duo
  seiuncta ultima bonorum, quae ut essent vera, coniungi debuerunt; </p>

<blockquote cite='http://loripsum.net'>
  Quid autem sit, quod ita moveat itaque a natura in primo ortu appetatur, non constat deque eo est inter philosophos,
  cum summum bonum exquiritur, omnis dissensio.
</blockquote>


<p><b>Quacumque enim ingredimur, in aliqua historia vestigium ponimus.</b> Quae cum dixisset paulumque institisset, Quid
  est? <i>Sed quot homines, tot sententiae;</i> <b>Idem iste, inquam, de voluptate quid sentit?</b>
  <a href='http://loripsum.net/' target='_blank'>Atqui reperies, inquit, in hoc quidem pertinacem;</a> Quid est enim
  aliud esse versutum? Nos paucis ad haec additis finem faciamus aliquando; Haec et tu ita posuisti, et verba vestra
  sunt. </p>

<blockquote cite='http://loripsum.net'>
  Quoniamque non dubium est quin in iis, quae media dicimus, sit aliud sumendum, aliud reiciendum, quicquid ita fit aut
  dicitur, omne officio continetur.
</blockquote>


<p>Contineo me ab exemplis. Hunc vos beatum; <b>Tollitur beneficium, tollitur gratia, quae sunt vincla concordiae.</b>
  Voluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum;
  <b>Ut aliquid scire se gaudeant?</b> Potius inflammat, ut coercendi magis quam dedocendi esse videantur. </p>

<h2>Quod totum contra est.</h2>

<p>His enim rebus detractis negat se reperire in asotorum vita quod reprehendat.
  <b>Iubet igitur nos Pythius Apollo noscere nosmet ipsos.</b>
  <a href='http://loripsum.net/' target='_blank'>Haec dicuntur inconstantissime.</a> An potest cupiditas finiri?
  Quoniam, si dis placet, ab Epicuro loqui discimus. Potius ergo illa dicantur: turpe esse, viri non esse debilitari
  dolore, frangi, succumbere. Ita prorsus, inquam; Eiuro, inquit adridens, iniquum, hac quidem de re;
  <i>Nihilo beatiorem esse Metellum quam Regulum.</i> Deinde disputat, quod cuiusque generis animantium statui deceat
  extremum. </p>

<p>Non quam nostram quidem, inquit Pomponius iocans; Quid enim me prohiberet Epicureum esse, si probarem, quae ille
  diceret? Idemne potest esse dies saepius, qui semel fuit? <b>Eam tum adesse, cum dolor omnis absit;</b></p>

</body>
