

<div class="form-group">
  <div class="shadow-sm p-3 mb-5 bg-white rounded"  id="chat-form">

<div id="chat-form"></div>
<div id="message_holder"></div>

    <div id="form-new-message-submit"
<%= form_for @message, remote: true do |f| %>

  <%= f.text_field :content, class:'shadow-sm p-3 mb-5 bg-white rounded' %>
  <%= f.submit "Send", class: 'btn btn-secondary' %>

<% end %>

</div>
</div>
