/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
body {
  font-family: "Roboto", sans-serif;
  background: image-url("mountain.jpg");
  background-size: cover;
}*/

.nav-item{
    letter-spacing: 0.2px;
    font-size:1.5em;
    font-weight: lighter;
}

.nav-text{
    font-size: 1.2em;
    color: white;
    font-weight: lighter;
}

.navbar-nav .nav-item:hover .nav-link {
    color: aqua;
}

.navbar-nav > li > a {
  padding-top:1px !important;
  padding-bottom:1px !important;
}

.navbar {
  min-height:2px !important;
}
