[data-theme="dark"] {
    background-color: #333333 !important;
    color: #eee;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

.nav-item{
    color: white;
}
input[type=checkbox].toggle-switch {

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    cursor: pointer;
    /* width of the track */
    width: 2em;
    /* height of the track */
    height: .5em;
    border-radius: 3em;
    background-color: #ebebeb;
    transition: background-color 0.09s ease-in-out;
    position: relative;
}

input[type=checkbox].toggle-switch:active::after {
    background-color: #f2f2f2;
    padding-right: .8em;
}

input[type=checkbox].toggle-switch::after {
    content: '';
    width: .8em;
    height: .8em;
    background-color: white;
    border-radius: 1.5em;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 2px 0px 5px 0 rgba(0, 0, 0, 0.15);
}

input[type=checkbox].toggle-switch:checked {
    background-color: #333;
}

input[type=checkbox].toggle-switch:checked:active::after {
    margin-left: -.8em;
}

input[type=checkbox].toggle-switch:checked::after {
    left: 1.35em;
    background-color: #242424;
}