<div class="container">
  <div class="row">
    <div class="col-3"><strong><%= line_item.product.title %></strong></div>
    <div class="col-3"><strong class="f4"><%= number_to_currency(line_item.total_price,:unit => '€') %></strong></div>
    <div class="col-3"><%= line_item.quantity %></div>
    <div class="col-3"> <%= link_to 'Remove Item', line_item, method: :delete, data: {confirm: "Are you sure? "}, class: "button is-small mb4" %></div>

  </div>
</div>
